*{
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: blue;
    text-align: center;
}

input{
    border: 1px solid black; 
}
.box1{
    text-align: center;
    
}